# Task 1

This data set is bublished by the Irish government [here](https://data.gov.ie/dataset/covidstatisticsprofilehpscirelandopendata1). 

It contains the latest Covid-19 Daily Statistics as well as the Profile of Covid-19 Daily Statistics for Ireland, as reported by the Health Surveillance Protection Centre.The Covid-19 Daily Statistics are updated on a daily basis, with the latest record reporting the counts recorded at 1pm the same day.

Import libraries and data and show how many columns and rows are in the data set.

In [24]:
from datetime import datetime
import pandas as pd


df = pd.read_csv('CovidStatisticsProfileHPSCIrelandOpenData.csv')
df.shape

(283, 38)

In the early days of Covid 19 being tested a subset of the data either didn't exist or was not being recorded which leads to many NaN values in the dataset. By looking at the firct 30 rows this is obvious.

In [3]:
df.head(30)

,X,Y,Date,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,StatisticsProfileDate,CovidCasesConfirmed,HospitalisedCovidCases,...,Aged25to34,Aged35to44,Aged45to54,Aged55to64,Aged65up,Median_Age,CommunityTransmission,CloseContact,TravelAbroad,FID
0,-856335.869598,7.036492e+06,2020/02/29 00:00:00+00,1,1,0,0,2020/02/27 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,-856335.869598,7.036492e+06,2020/03/03 00:00:00+00,1,2,0,0,2020/03/01 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,-856335.869598,7.036492e+06,2020/03/04 00:00:00+00,4,6,0,0,2020/03/02 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,-856335.869598,7.036492e+06,2020/03/05 00:00:00+00,7,13,0,0,2020/03/03 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,-856335.869598,7.036492e+06,2020/03/06 00:00:00+00,5,18,0,0,2020/03/04 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
5,-856335.869598,7.036492e+06,2020/03/07 00:00:00+00,1,19,0,0,2020/03/05 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
6,-856335.869598,7.036492e+06,2020/03/08 00:00:00+00,2,21,0,0,2020/03/06 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
7,-856335.869598,7.036492e+06,2020/03/09 00:00:00+00,3,24,0,0,2020/03/07 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
8,-856335.869598,7.036492e+06,2020/03/10 00:00:00+00,10,34,0,0,2020/03/08 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
9,-856335.869598,7.036492e+06,2020/03/11 00:00:00+00,9,43,1,1,2020/03/09 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
10,-856335.869598,7.036492e+06,2020/03/12 00:00:00+00,27,70,0,1,2020/03/10 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
11,-856335.869598,7.036492e+06,2020/03/13 00:00:00+00,20,90,0,1,2020/03/11 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
12,-856335.869598,7.036492e+06,2020/03/14 00:00:00+00,39,129,1,2,2020/03/12 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
13,-856335.869598,7.036492e+06,2020/03/15 00:00:00+00,40,169,0,2,2020/03/13 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
14,-856335.869598,7.036492e+06,2020/03/16 00:00:00+00,54,223,0,2,2020/03/14 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
15,-856335.869598,7.036492e+06,2020/03/17 00:00:00+00,69,292,0,2,2020/03/15 00:00:00+00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
16,-856335.869598,7.036492e+06,2020/03/18 00:00:00+00,74,366,0,2,2020/03/16 00:00:00+00,271.0,84.0,...,48.0,62.0,40.0,46.0,42.0,NaN,27.0,21.0,52.0,17
17,-856335.869598,7.036492e+06,2020/03/19 00:00:00+00,191,557,1,3,2020/03/17 00:00:00+00,350.0,108.0,...,64.0,78.0,49.0,54.0,57.0,43.0,35.0,21.0,43.0,18
18,-856335.869598,7.036492e+06,2020/03/20 00:00:00+00,126,683,0,3,2020/03/18 00:00:00+00,438.0,140.0,...,78.0,96.0,62.0,69.0,75.0,44.0,40.0,21.0,39.0,19
19,-856335.869598,7.036492e+06,2020/03/21 00:00:00+00,102,785,0,3,2020/03/19 00:00:00+00,584.0,173.0,...,110.0,121.0,95.0,85.0,102.0,44.0,42.0,23.0,35.0,20
20,-856335.869598,7.036492e+06,2020/03/22 00:00:00+00,121,906,1,4,2020/03/20 00:00:00+00,712.0,211.0,...,127.0,149.0,132.0,101.0,122.0,44.0,44.0,23.0,33.0,21
21,-856335.869598,7.036492e+06,2020/03/23 00:00:00+00,219,1125,2,6,2020/03/21 00:00:00+00,836.0,239.0,...,166.0,165.0,158.0,117.0,139.0,44.0,43.0,24.0,33.0,22
22,-856335.869598,7.036492e+06,2020/03/24 00:00:00+00,204,1329,1,7,2020/03/22 00:00:00+00,965.0,277.0,...,189.0,183.0,191.0,136.0,165.0,45.0,45.0,24.0,31.0,23
23,-856335.869598,7.036492e+06,2020/03/25 00:00:00+00,235,1564,2,9,2020/03/23 00:00:00+00,1146.0,305.0,...,228.0,214.0,229.0,165.0,207.0,45.0,47.0,24.0,29.0,24
24,-856335.869598,7.036492e+06,2020/03/26 00:00:00+00,255,1819,10,19,2020/03/24 00:00:00+00,1383.0,340.0,...,264.0,246.0,280.0,280.0,252.0,46.0,47.0,24.0,29.0,25
25,-856335.869598,7.036492e+06,2020/03/27 00:00:00+00,302,2121,3,22,2020/03/25 00:00:00+00,1639.0,419.0,...,310.0,305.0,320.0,233.0,307.0,46.0,51.0,23.0,26.0,26
26,-856335.869598,7.036492e+06,2020/03/28 00:00:00+00,294,2415,14,36,2020/03/26 00:00:00+00,1904.0,489.0,...,358.0,353.0,368.0,271.0,373.0,46.0,50.0,23.0,27.0,27
27,-856335.869598,7.036492e+06,2020/03/29 00:00:00+00,200,2615,10,46,2020/03/27 00:00:00+00,2216.0,564.0,...,408.0,416.0,432.0,314.0,441.0,47.0,51.0,25.0,24.0,28
28,-856335.869598,7.036492e+06,2020/03/30 00:00:00+00,295,2910,8,54,2020/03/28 00:00:00+00,2475.0,645.0,...,448.0,467.0,467.0,360.0,511.0,47.0,50.0,27.0,23.0,29
29,-856335.869598,7.036492e+06,2020/03/31 00:00:00+00,325,3235,17,71,2020/03/29 00:00:00+00,2677.0,703.0,...,477.0,503.0,504.0,398.0,563.0,47.0,51.0,26.0,23.0,30

What columns and type of data have we got?

* X
* Y
* Date
* ConfirmedCovidCases
* TotalConfirmedCovidCases
* ConfirmedCovidDeaths 
* TotalCovidDeaths 
* StatisticsProfileDate 
* CovidCasesConfirmed
* HospitalisedCovidCases 
* RequiringICUCovidCases
* HealthcareWorkersCovidCases
* ClustersNotified  
* HospitalisedAged5
* HospitalisedAged5to14
* HospitalisedAged15to24 
* HospitalisedAged25to34  
* HospitalisedAged35to44 
* HospitalisedAged45to54 
* HospitalisedAged55to64
* HospitalisedAged65up
* Male 
* Female
* Unknown  
* Aged1
* Aged1to4
* Aged5to14 
* Aged15to24 
* Aged25to34
* Aged35to44 
* Aged45to54 
* Aged55to64 
* Aged65up 
* Median_Age
* CommunityTransmission
* CloseContact
* 36  TravelAbroad
* FID

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283 entries, 0 to 282
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   X                            283 non-null    float64
 1   Y                            283 non-null    float64
 2   Date                         283 non-null    object
 3   ConfirmedCovidCases          283 non-null    int64
 4   TotalConfirmedCovidCases     283 non-null    int64
 5   ConfirmedCovidDeaths         283 non-null    int64
 6   TotalCovidDeaths             283 non-null    int64
 7   StatisticsProfileDate        283 non-null    object
 8   CovidCasesConfirmed          267 non-null    float64
 9   HospitalisedCovidCases       267 non-null    float64
 10  RequiringICUCovidCases       267 non-null    float64
 11  HealthcareWorkersCovidCases  267 non-null    float64
 12  ClustersNotified             267 non-null    float64
 13  HospitalisedAged5            265 non-null    float64
 14  HospitalisedAged5to14        265 non-null    float64
 15  HospitalisedAged15to24       265 non-null    float64
 16  HospitalisedAged25to34       265 non-null    float64
 17  HospitalisedAged35to44       265 non-null    float64
 18  HospitalisedAged45to54       265 non-null    float64
 19  HospitalisedAged55to64       265 non-null    float64
 20  HospitalisedAged65up         265 non-null    float64
 21  Male                         265 non-null    float64
 22  Female                       265 non-null    float64
 23  Unknown                      265 non-null    float64
 24  Aged1                        267 non-null    float64
 25  Aged1to4                     267 non-null    float64
 26  Aged5to14                    267 non-null    float64
 27  Aged15to24                   267 non-null    float64
 28  Aged25to34                   267 non-null    float64
 29  Aged35to44                   267 non-null    float64
 30  Aged45to54                   267 non-null    float64
 31  Aged55to64                   267 non-null    float64
 32  Aged65up                     267 non-null    float64
 33  Median_Age                   266 non-null    float64
 34  CommunityTransmission        267 non-null    float64
 35  CloseContact                 267 non-null    float64
 36  TravelAbroad                 267 non-null    float64
 37  FID                          283 non-null    int64
dtypes: float64(31), int64(5), object(2)
memory usage: 84.1+ KB

What Columns have we got

How many rows have we with null values?

In [8]:
num_of_null_rows = df.isna().sum().max()
num_of_null_rows

18

In [9]:
na_percentage = "{:.2f}".format( num_of_null_rows/len(df) * 100)
print(f'Up to {na_percentage}% of of the {len(df)} rows have at lest 1 null column')

Up to 6.36% of of the 283 rows have at lest 1 null column

Lets drop the rows with NaN values by using the pandas.DataFrame inbuilt function `dropna()`. By using the arguement __inplace=True__ we update the existing dataframe and returns None rather than returning a modified copy of teh dataframe.

In [15]:
df.dropna(inplace=True)
df.shape

(265, 38)

Dates are in the string format of 2020/02/29 00:00:00+00, convert to a Python date object

In [30]:
df["Date"] =  pd.to_datetime(df["Date"], format="%Y/%m/%d %H:%M:%S.%f")
df["StatisticsProfileDate"] =  pd.to_datetime(df["StatisticsProfileDate"], format="%Y/%m/%d %H:%M:%S.%f")

Our date column is now a datetime64 type

In [31]:
df.Date.dtype

datetime64[ns, UTC]

In [ ]:
Lets add a month column

In [ ]:
df['Month'] = df['year'] = pd.DatetimeIndex(df['Date']).month_name()
df.Month

There are a number of columns that are very similar and hold quite similar data also. 

We can drop any columns that may be seen non essestial to this project.

In [ ]:

columns_to_drop=[]
df.drop(['columnheading1', 'columnheading2'], axis=1, inplace=True)

In [ ]:
import plotly.express as px


# imports
import plotly.express as px 
import pandas as pd 
import numpy as np 




fig = px.line(df, x='Date', y=['CommunityTransmission', 'CloseContact', 'TravelAbroad'])
fig.show()

fig = px.scatter(df, x='Date', y=['CommunityTransmission', 'CloseContact', 'TravelAbroad'])

fig.update_traces(
    name='sample 1',
    mode='markers+lines',
#     error_y=dict(color='black', width=5, thickness=1),
    marker=dict(color='red', size=10),
    line=dict(color='blue', width=3),
    showlegend=True
)

fig.update_layout(template='simple_white',
    yaxis_title='Wind speed (m/s)',
    title='Continuous, variable value error bars',
    hovermode="x"
)
 
# fig.show()

fig.write_image("transmission.svg")

In [35]:
df['Month'] = df['year'] = pd.DatetimeIndex(df['Date']).month_name()
df.Month

0      February
1         March
2         March
3         March
4         March
         ...
278    December
279    December
280    December
281    December
282    December
Name: Month, Length: 283, dtype: object

There are a number of columns that are very similar and hold quite similar data also. 

We can drop any columns that may be seen non essestial to this project.

In [ ]:

columns_to_drop=[]
df.drop(['columnheading1', 'columnheading2'], axis=1, inplace=True)

In [ ]:
import plotly.express as px


# imports
import plotly.express as px 
import pandas as pd 
import numpy as np 




fig = px.line(df, x='Date', y=['CommunityTransmission', 'CloseContact', 'TravelAbroad'])
fig.show()

fig = px.scatter(df, x='Date', y=['CommunityTransmission', 'CloseContact', 'TravelAbroad'])

fig.update_traces(
    name='sample 1',
    mode='markers+lines',
#     error_y=dict(color='black', width=5, thickness=1),
    marker=dict(color='red', size=10),
    line=dict(color='blue', width=3),
    showlegend=True
)

fig.update_layout(template='simple_white',
    yaxis_title='Wind speed (m/s)',
    title='Continuous, variable value error bars',
    hovermode="x"
)
 
# fig.show()

fig.write_image("transmission.svg")

In [ ]:
import plotly.express as px

fig = px.histogram(df, x="Date", y="tip", color="sex", marginal="rug",
                   hover_data=df.columns)
fig.show()

In [ ]:
import numpy as np
import plotly.graph_objects as go

np.random.seed(1)

N = 100
x = np.random.rand(N)
y = np.random.rand(N)
colors = np.random.rand(N)
sz = np.random.rand(N) * 30

fig = go.Figure()
fig.add_trace(go.Scatter(
    x=x,
    y=y,
    mode="markers",
    marker=go.scatter.Marker(
        size=sz,
        color=colors,
        opacity=0.6,
        colorscale="Viridis"
    )
))

fig.show()

In [ ]:
# import chart_studio.plotly as py
# import numpy as np

# data = [dict(
#         visible = False,
#         line=dict(color='#00CED1', width=6),
#         name = 'ðœˆ = '+str(step),
#         x = np.arange(0,10,0.01),
#         y = np.sin(step*np.arange(0,10,0.01))) for step in np.arange(0,5,0.1)]
# data[10]['visible'] = True

# steps = []
# for i in range(len(data)):
#     step = dict(
#         method = 'restyle',
#         args = ['visible', [False] * len(data)],
#     )
#     step['args'][1][i] = True # Toggle i'th trace to "visible"
#     steps.append(step)

# sliders = [dict(
#     active = 10,
#     currentvalue = {"prefix": "Frequency: "},
#     pad = {"t": 50},
#     steps = steps
# )]

# layout = dict(sliders=sliders)
# fig = dict(data=data, layout=layout)

# py.iplot(fig, filename='Sine Wave Slider')

In [ ]:
import plotly.express as px
f=px.scatter(df, x="Date", y="ConfirmedCovidCases")
f.show()
# Colour background
fig, axes = plt.subplots(facecolor='xkcd:cream')
axes.set_facecolor('xkcd:cream')

# Plot columns 'Confirmed' and 'Deaths'
df_ireland.plot(x = 'Date', y = 'Confirmed', color = 'blue', ax = axes)
df_ireland.plot(x = 'Date', y = 'Deaths', color = 'red', ax = axes)


plt.xticks(rotation=45) # rotate date labels
plt.show()